#task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  border: 1px solid blue;
  border-radius: 10px;
  margin-bottom: 10px;
}

#check-desc {
  display: flex;
  margin-right: 6px;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  border: none;
}

#delete-button {
  display: flex;
  flex-direction: column;
  background-image: url("https://cdn-icons-png.freepik.com/512/19027/19027695.png");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 20px;
  font-size: 10px;
  justify-content: end;
  background-color: white;
  height: 60px;
  border: none;
}

#delete-button:hover {
  background-size: 25px;
  border-color: transparent;
}
#delete-button:focus {
  outline: none;
}
#edit-button:focus {
  outline: none;
}

#edit-button {
  display: flex;
  flex-direction: column;
  background-image: url("https://cdn-icons-png.freepik.com/512/16065/16065457.png");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 20px;
  font-size: 10px;
  justify-content: end;
  background-color: white;
  height: 60px;
  border: none;
}

#edit-button:hover {
  background-size: 25px;
  border-color: transparent;
}
